@use '../layout/constants/_fonts.scss';

*,
*::after,
*::before {
  font-family: 'Cairo-Light', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background: url('../assets/images/background-image.jpg') no-repeat fixed;
  background-size: cover;
  color: #fff;
}

.main-content {
  padding: 0;
  margin-top: 0;
}
