@use '../constants/colors' as color;
@use '../constants/breakpoints' as bp;
@use '../constants/_fonts.scss';

.workoutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include bp.sm {
    flex-direction: row;
    flex-flow: row wrap;
  }

  &__card {
    background: color.$card-background;
    border: 2px solid color.$primary-title;
    overflow: hidden;
    border-radius: 8px;
    width: 255px;
    height: 330px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 0px 3px color.$primary-title,
        0px 0px 5px 4px color.$primary-title,
        inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
    }

    @include bp.sm {
      margin: 30px 30px;
    }

    &__imgWrapper {
      max-width: 255px;
      max-height: 200px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    &__description {
      height: 130px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__cardTitle {
        line-height: 20px;
        text-align: center;
      }
    }
  }
}
