@font-face {
  font-family: 'Cairo-ExtraBold';
  src: url('../../assets/fonts/Cairo-ExtraBold.ttf');
}

@font-face {
  font-family: 'Cairo-SemiBold';
  src: url('../../assets/fonts/Cairo-SemiBold.ttf');
}

@font-face {
  font-family: 'Cairo-Light';
  src: url('../../assets/fonts/Cairo-Light.ttf');
}
